@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root {
  --clr-one: #11001c;
  --clr-two: #290025;
  --clr-three: #35012c;
  --clr-four: #b80081;
  --clr-five: #4f0147;
  --clr-six: #520039;
}
.form {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.label {
  font-size: 24px;
  font-family: Orbitron;
  color: white;
}
.input {
  width: 50px;
  height: 32px;
  margin: 8px;
  border-radius: 16px;
  text-align: center;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}
.button {
  width: 100px;
  height: 42px;
  margin: 4px 0 12px 0;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  background-color: black;
  color: #40ffff;
  transition: 0.4s all;
  cursor: pointer;
  box-shadow: inset 0 0 10px #40ffff;
  text-transform: uppercase;
  font-weight: bold;
}
@media (hover: hover) {
  .button:hover {
    box-shadow: 0 0 10px #40ffff; 
    color: black;
    background-color: #40ffff;
    display: inline-blocks;
  }
}
.li {
  margin: 0 30px 0 30px;
}
input[type=range] {
  height: 2px;
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px var(--clr-one);
  background: var(--clr-two);
  border-radius: 1px;
  border: 1px solid var(--clr-five);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px var(--clr-four);
  border: 2px solid var(--clr-six);
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: var(--clr-three);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--clr-two);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px var(--clr-one);
  background: var(--clr-two);
  border-radius: 1px;
  border: 1px solid var(--clr-five);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px var(--clr-four);
  border: 2px solid var(--clr-six);
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: var(--clr-three);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--clr-two);
  border: 1px solid var(--clr-five);
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--clr-one);
}
input[type=range]::-ms-fill-upper {
  background: var(--clr-two);
  border: 1px solid var(--clr-five);
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--clr-one);
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px var(--clr-four);
  border: 2px solid var(--clr-six);
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: var(--clr-three);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--clr-two);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--clr-two);
}
.button:active {
  transform: scale(0.9);
}
@media (max-width: 700px) {
  .label {
    font-size: 16px;
    font-family: Orbitron;
    color: white;
  }
  .input {
    width: 32px;
    border-radius: 8px;
  }
}
/* Galaxy S8: */
@media (max-width: 360px) {
  .label{
    font-size: 0.8em;
  }
}